// Mobile-first

@mixin minw($pixels)
  @media (min-width: $pixels/16+em)
    @content

// Desktop-first

@mixin maxw($pixels)
  @media (max-width: $pixels/16+em)
    @content

// Maximum Height

@mixin maxh($pixels)
  @media (max-height: $pixels/16+em)
    @content

// Hero

@mixin hero
  position: relative
  height: 450px
  .personal-details
    position: relative
    top: 50px
    .my-head
      opacity: 1
      margin: 0 auto
      +size(200px)
      border-radius: 100%
      margin-bottom: 50px

    .description
      border-radius: 8px
      width: 98%
      margin: auto
      line-height: 1.3
      background-color: $transparent8
      text-align: center
      .container
        width: 50%
        max-width: 640px
        margin: auto
        h3
          margin: 0
          letter-spacing: 1.8px
          padding: 20px 0
        h1
          letter-spacing: 1.8px
          padding: 20px 0
  @include maxw(1280)
    .personal-details
      top: 30px
      .my-head
        +size(160px)
        margin-bottom: 25px
      .description
        .container
          width: 90%
          max-width: 960px

  @include maxh(768)
    height: 400px




@mixin credits-popup
  .credits-popup
    position: fixed
    bottom: 40px
    left: 50%
    background-color: $transparent8
    text-align: center
    border-radius: 8px
    padding: 8px
    opacity: 0
    pointer-events: none
    line-height: 24px

  .popin
    pointer-events: all
    animation-name: in
    animation-duration: 300ms
    animation-fill-mode: forwards
    animation-timing-function: cubic-bezier(0.2, 1.18, 0.92, 1.43)

  .popout
    animation-name: out
    animation-duration: 300ms
    animation-fill-mode: forwards
    animation-timing-function: cubic-bezier(0.51,-0.8, 0.17, 0.97)
    pointer-events: none

@mixin container-style
  background-color: $transparent8
  width: 98%
  border-radius: 8px
  margin: 0 auto
