.hero
  .personal-details
    .my-head 
      a(href="/")
    .description
      .container
        h1 As a new comer to the world of development I feel empowered by the creation process

.sections
  section.story
    h2 What got me into development
    p I started coding at the early age of 7 with BASIC programming language, by the time I was 10, school has taken me onto a different path, but I always kept myself up to date with IT related technologies. Most of my life revoleved and still revoleves around IT, both personal and professional. 
    p In 2016 while working as a freelancer I decided to learn website development in my spare time. Shortly after the first course I've felt comfortable with coding and nostalgia from the childhood made it very clear that this is what I want to do in the future.

  section.my-projects
    h2 Projects
    .projects
      .julia
        h3 Julia Marco Photography
        p My first website
      .we-can-work-it-hout
        h3 We can work it Hout
        p First contract website for the ar
          span t
          | chitectural design company We Can Work It Hout

  section.technologies
    h2 Technologies and Tools
    p I create static websites using HTML, CSS and Javascript
    p Libraries, frameworks and other tools make my coding a pleasure
    p I feel comfortable with Jade/Pug, Sass, JQuery and Jekyll amongst others
    
  section.my-code
    h2 Code
    p I like to use Github for my projects, you can check my code at www.github.com/djeepgu
    
  section.goals
    h2 A look into the future
    p My goals are to become a full stack web developer, also various OS native applications 
