.hero
  .personal-details
    .my-head
    .description
      .container
        h3 I am a frontend developer by day and a DJ by night. In my spare time I like to get lost in the world of science and technology, as well as playing recreational volleyball.
.sections
  .development
    h4 
      a(href="/Developer/") Web Development
    ul
      li HTML 5
      li CSS
      li Javascript
  .music  
    h4 
      a(href="/Music/") Music
    ul
      li Techno / House
      li Jazz / Lounge / Ambiental
      li Dub / Reggae / Rap
  .tech
    h4 
      a(href="/Science/") Science & Technology
    ul
      li Astrophysics
      li Educators
      li News
  .volley
    h4 
      a(href="/Volley/") Volleyball 
    ul
      li De Spuyt
      li NeVoBo

.credits-popup
  a(href="https://500px.com/matteofiorentini" target="_blank") Background image by Matteo Fiorentini
