.hero
  .personal-details
    .my-head
    .name
      h1 Andrei Panait
    .description
      .container
        h3 I am a front-end developer by day and a DJ by night. In my spare time I like getting lost in the world of science and technology, as well as playing recreational volleyball.
.sections
  a.development(href="/Developer/") 
    h4 Web Development
    
  a.music(href="/Music/")  
    h4 Music
    
  a.tech(href="/Science/")
    h4 Science & Technology
    
  a.volley(href="/Volley/")
    h4 Volleyball 

.credits-popup
  a(href="https://500px.com/matteofiorentini" target="_blank") Background image by Matteo Fiorentini
