.hero
  .personal-details
    .my-head 

    .description
      .container
        h3 Music has been a part of my life since I can remember. My father's records collection used to play all the time around the house. I started playing music around the age of 19 in my home town at an oldies music bar. It's there that I got introduced to new underground music and parties that shaped my future taste in music.

.embedded-platforms

  .mixcloud
    h2 Mixcloud 
      span &gt
    p Recorded DJ sets
    .content
      iframe(width="30%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fdjeepgu%2F&hide_cover=1" frameborder="0")
      iframe(width="30%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fdjeepgu%2Fdss1%2F&hide_cover=1" frameborder="0")
      iframe(width="30%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fdjeepgu%2Forigenes-x-korsakoff-amsterdam-mar12%2F&hide_cover=1" frameborder="0")
      iframe(width="30%" height="250" src="https://www.mixcloud.com/widget/follow/?u=https%3A%2F%2Fwww.mixcloud.com%2Fdjeepgu%2F&hide_followers=1&dark=1" frameborder="0")
      
  .spotify
    h2 Spotify 
      span &gt
    p A selection of songs that I enjoy listening on a daily basis
    .content
      iframe(src="https://embed.spotify.com/?uri=spotify%3Auser%3A214utsxf7kqynky2tu4dlblaq%3Aplaylist%3A3oek9XqLPw3IPVuCznv6SU" width="450" height="450" frameborder="0" allowtransparency="true")
      iframe(src="https://embed.spotify.com/?uri=spotify%3Auser%3A214utsxf7kqynky2tu4dlblaq%3Aplaylist%3A1z1VOxTzElIXzEmCjSLa2R" width="450" height="450" frameborder="0" allowtransparency="true")
      iframe(src="https://embed.spotify.com/?uri=spotify%3Auser%3A214utsxf7kqynky2tu4dlblaq%3Aplaylist%3A3050mffe0Vt76JDB7PD4ce" width="450" height="450" frameborder="0" allowtransparency="true")
      
  .soundcloud
    h2 Soundcloud 
      span &gt
    p  A brief attempt at music production
    .content
      iframe(width="450" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/70972325&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")
      iframe(width="450" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/70971844&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")

.credits-popup
  a(href="https://500px.com/matteofiorentini" target="_blank") Headshot by Matteo Fiorentini
  br
  a(href="http://gratisography.com/" target="_blank") Background image from Gratisography.com
