.hero
  .personal-details
    .my-head 
      a(href="/")
    .description
      .container
        h3 Andrei is a frontend developer by day and a DJ by night. In his spare time he likes to get lost in the world of science and technology, as well as playing recreational volleyball.

.embedded-platforms

  .mixcloud
    h2 Mixcloud 
      span &gt
    p Recorded DJ sets
    .content
      iframe(width="30%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fdjeepgu%2F&hide_cover=1" frameborder="0")
      iframe(width="30%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fdjeepgu%2Fdss1%2F&hide_cover=1" frameborder="0")
      iframe(width="30%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fdjeepgu%2Forigenes-x-korsakoff-amsterdam-mar12%2F&hide_cover=1" frameborder="0")
      iframe(width="30%" height="250" src="https://www.mixcloud.com/widget/follow/?u=https%3A%2F%2Fwww.mixcloud.com%2Fdjeepgu%2F&hide_followers=1&dark=1" frameborder="0")
      
  .spotify
    h2 Spotify 
      span &gt
    p A selection of songs that I enjoy listening on a daily basis
    .content
      iframe(src="https://embed.spotify.com/?uri=spotify%3Auser%3A214utsxf7kqynky2tu4dlblaq%3Aplaylist%3A3oek9XqLPw3IPVuCznv6SU" width="450" height="450" frameborder="0" allowtransparency="true")
      iframe(src="https://embed.spotify.com/?uri=spotify%3Auser%3A214utsxf7kqynky2tu4dlblaq%3Aplaylist%3A1z1VOxTzElIXzEmCjSLa2R" width="450" height="450" frameborder="0" allowtransparency="true")
      iframe(src="https://embed.spotify.com/?uri=spotify%3Auser%3A214utsxf7kqynky2tu4dlblaq%3Aplaylist%3A3050mffe0Vt76JDB7PD4ce" width="450" height="450" frameborder="0" allowtransparency="true")
      
  .soundcloud
    h2 Soundcloud 
      span &gt
    p  A brief attempt at music production
    .content
      iframe(width="450" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/70972325&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")
      iframe(width="450" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/70971844&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")
