input(type="checkbox" id="nav-toggler" name="" value="")
.nav
  .nav-wrap
    ul
      li 
        a(href="/") Home
      li
        a(href="/developer/") Web Development
      li
        a(href="/music/") Music
      li
        a(href="/science/") Science & Technology
      li
        a(href="/volley/") Volleyball
        
  label.toggle(for="nav-toggler") ☰


    
