.hero
  .personal-details
    .my-head 
      a(href="/")
    .description
      .container
        h3 Andrei is a frontend developer by day and a DJ by night. In his spare time he likes to get lost in the world of science and technology, as well as playing recreational volleyball.
