#developer
  background: url("/assets/img/346H.jpg") no-repeat center center fixed
  background-size: cover
  .hero
    @include hero
    .personal-details
      .my-head
        background: url("/assets/img/headDev.jpg") no-repeat center center
        background-size: cover
