#developer
  background: url("/assets/img/developerBack1920.jpg") no-repeat center center fixed
  background-size: cover
  body
    position: relative

  .hero
    @include hero
    .personal-details
      .my-head
        background: url("/assets/img/headDev.jpg") no-repeat center center
        background-size: cover

  .sections
    position: relative
    width: 90%
    max-width: 960px
    margin: auto

    section
      padding: 10px
      margin: 10px
      border-radius: 8px
      background-color: $transparent8
      text-align: center
      &:nth-last-child(1)
        margin-bottom: 50px
      h2
        padding: 10px auto 15px auto
      .we-can-work-it-hout
        margin-top: 50px
        span
          color: $houtRed
          font-weight: bold

      .julia
        margin-top: 50px

  @include credits-popup
