#home-page
  background: url("/assets/img/homeBack1920.jpg") no-repeat center center fixed
  background-size: cover
  .hero
    @include hero
    .personal-details
      .my-head
        background: url("/assets/img/headLand.jpg") no-repeat center center
        background-size: cover
        opacity: 0.7


  .sections
    position: relative
    display: flex
    flex-direction: row
    flex-wrap: wrap
    text-align: center
    justify-content: space-between
    padding: 0
    margin: 0 auto
    min-height: calc(100vh - 482px)
    width: 98%
    .development, .music, .tech, .volley
      background-color: $transparent8
      border-radius: 8px
      width: 24%
      min-width: 242px
      height: 57px



      h4
        font-size: 1.5em
        margin: 15px

      ul
        display: grid
        list-style: none
        height: 0
        padding: 0
        margin: auto
        opacity: 0

        li
          opacity: 0
          animation:
            name: opacity0
            duration: 200ms
            timing-function: ease-in
            fill-mode: forwards
          background-color: $transparent8
          display: none
          padding: 7px
          &:nth-last-child(1)
            border-bottom-right-radius: 8px
            border-bottom-left-radius: 8px

      &:hover
        transition: all 200ms linear
        border-bottom-right-radius: 0
        border-bottom-left-radius: 0
        ul
          opacity: 1
          li
            display: block
            opacity: 1
            animation:
              name: opacity1
              duration: 200ms
              timing-function: ease-in
              fill-mode: forwards

          @keyframes opacity1
            0%
              opacity: 0
            100%
              opacity: 1

          @keyframes opacity0
            0%
              opacity: 1
            100%
              opacity: 0

  @include credits-popup
