#home-page
  background: url("/assets/img/homeBack1920.jpg") no-repeat center center fixed
  background-size: cover
  @include maxw(1280)
    background: url("/assets/img/homeBack1280.jpg") no-repeat center center fixed
    background-size: cover
  @include maxw(1024)
    background: url("/assets/img/homeBack1024.jpg") no-repeat center center fixed
    background-size: cover

  .hero
    @include hero
    .personal-details
      .my-head
        background: url("/assets/img/headLand.jpg") no-repeat center center
        background-size: cover
        opacity: 0.7
    .name
      background-color: $transparent8
      width: 98%
      max-width: 960px
      margin: 0 auto 30px auto
      text-align: center
      border-radius: 8px
      padding: 10px 0
      h1
        margin: 0

  .sections
    position: relative
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    justify-content: center
    text-align: center
    padding: 0
    margin: 20px auto
    width: 98%
    max-width: 320px
    min-height: calc(100vh - 573px)
    @include maxh(768)
      min-height: calc(100vh - 523px)

    .development, .music, .tech, .volley
      background-color: $transparent8
      border-radius: 8px
      width: 100%
      min-width: 242px
      margin: 5px

      h4
        font-size: 1.5em
        margin: 15px

  @include credits-popup
