#volley
  background: url("/assets/img/volley1.jpeg") no-repeat center center fixed
  background-size: cover
  .hero
    @include hero
    .personal-details
      .my-head
        background: url("/assets/img/spuyt.png") no-repeat center center
        background-size: cover
        opacity: 1


  @include credits-popup
